<div ng-controller="Articles">
	<div class="f-article-list">
		<div class="f-article" ng-repeat="article in articles | limitTo: pageSize">
			<img class="f-thumb" ng-src="{{article.image}}" alt="{{article.title}}" />
			<h4 class="f-heading">{{article.title}}</h4>
			<p class="f-description">{{article.description}}</p>
			<div ng-controller="Tags">
				<ul class="f-tag-list">
					<li class="f-tag" ng-repeat="tag in article.tags track by $index" ng-show="$index < 2 || displayAllTags">
						{{tag}}
					</li>
				</ul>
				<span class="f-link" ng-click="showTags()" ng-show="article.tags.length > 2 && !displayAllTags">show more</span>
				<span class="f-link" ng-click="hideTags()" ng-show="displayAllTags">hide more</span>
			</div>
		</div>
	</div>

	<div class="f-paging">
		<div class="f-previous" ng-click="prevPage()"><<</div>
	    {{currentPage}} of {{totalPages}}
	    <div class="f-next" ng-click="nextPage()">>></div>
    <div>
</div>